body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.registration-form {
    width: 30%;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(81, 81, 81, 0.5);
}
.form-control {
    margin-bottom: 20px;
}
.form-control label {
    display: block;
    margin-bottom: 5px;
}
.form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-control input[type="submit"] {
    background-color: darkorange;
    color: white;
    cursor: pointer;
    transition: background-color 1s;
}
.form-control input[type="submit"]:hover {
    background-color: rgb(172, 95, 1);
}

.errorMsg {
    color: red;
    font-size: 10px;
    margin-bottom: 10px;
}

.registerMsg {
    color: green;
    font-size: 10px;
    margin-top: 10px;
}